<!doctype html>
<html lang="ko">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- 2021.3.10 -->
    <link rel="shortcut icon" href="{{ url_for('static', filename='/favicon.ico') }}" type="image/x-icon">
    <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap.min.css') }}">
    <!-- pybo CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

    <!-- <title>파이보</title> -->
    <!-- 2021.3.10, 모든 templates html 에 추가할 것 -->
    <title>{% block title %} {% endblock %}</title>
</head>

<body>
    <!-- 부트스트랩 내비게이션 포함 -->
    {% include "navbar.html" %}

    <!-- 기본 템플릿 안에 삽입될 내용 Start -->
    {% block content %}

    {% endblock %}
    <!-- 기본 템플릿 안에 삽입될 내용 End -->

    <!-- jQuery JS -->
    <script src="{{ url_for('static', filename='jquery-3.6.0.min.js') }}"></script>
    <!-- Bootstrap JS -->
    <script src="{{ url_for('static', filename='bootstrap.min.js') }}"></script>

    <!-- 자바스크립트 Start, p187 -->
    {% block script %}
    {% endblock %}
    <!-- 자바스크립트 End -->
</body>

</html>