<!-- 네비게이션바 -->
<div class="navbar navbar-light bg-light border-bottom navbar-expand-lg fixed-top">
    <div class="container">

        <!-- <a class="navbar-brand" href="{{ url_for('main.index') }}">Pybo</a> -->
        <a class="navbar-brand" href="{{ url_for('main.index') }}">
            <!-- ojonghwa 2021.3.10 -->
            <img src="{{ url_for('static', filename='img/khu_iconb.png') }}" width="40">
            My Blog
        </a>

        <button class="navbar-toggler ml-auto" type="button" data-toggle="collapse" data-target="#navbar-content"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbar-content">
            <!-- ojonghwa 2021.3.10 -->
            <ul class="navbar-nav mr-auto">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown">학교소개</a>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="#">경희대학교 연혁</a>
                        <a class="dropdown-item" href="#">원장 인사말</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="#">캠퍼스맵</a>
                    </div>
                </li>
                <li class="nav-item ">
                    <a class="nav-link" href="#">교수소개</a>
                </li>
                <li class="nav-item ">
                    <a class="nav-link" href="#">학점은행제</a>
                </li>
            </ul>

            {% if g.user %}
            <!-- p156 -->
            <ul class="navbar-nav navbar-right">
                <li class="nav-item ">
                    <!-- ojonghwa 2021.3.12 -->
                    <a class="nav-link" href="{{ url_for('auth.profile')}}">프로필</a> <!-- ojonghwa 2021.3.11 -->
                </li>

                <li class="nav-item ">
                    <a class="nav-link" href="{{ url_for('auth.logout') }}">{{ g.user.userid }} (로그아웃)</a>
                </li>
            </ul>
            {% else %}

            <ul class="navbar-nav navbar-right">
                <li class="nav-item ">
                    <a class="nav-link" href="{{ url_for('auth.signup')}}">회원가입</a> <!-- p147 -->
                </li>
                <li class="nav-item ">
                    <a class="nav-link" href="{{ url_for('auth.login')}}">로그인</a> <!-- p153 -->
                </li>
            </ul>
            {% endif %}

        </div>
    </div>
</div>